<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="lessonMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Lesson Manager</span>
  <span class="spacer"></span>
  <mat-menu #lessonMenu="matMenu">
    <button mat-menu-item (click)="createNewLessons()">New...</button>
    <button mat-menu-item (click)="loadLessons()">Load...</button>
    <button mat-menu-item (click)="saveAsLessons()">Save As...</button>
    <button mat-menu-item (click)="addLesson()">Add</button>
    <button mat-menu-item (click)="deleteLesson()">Delete</button>
  </mat-menu>
</mat-toolbar>

<div class="main-container">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <app-lesson-list
        [lessons]="lessons"
        [selectedLesson]="selectedLesson"
        (lessonSelected)="selectLesson($event)"
      ></app-lesson-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-lesson-content [lessonName]="selectedLesson"></app-lesson-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
