/* Updated app.component.css */
.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  width: 100%;
  margin-top: 64px;
  height: calc(100% - 64px);
}

.class-lesson-list {
  width: 250px;
}
